# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* List popular languages for Data Science
* List popular libraries used by data scientists
* List data science tools and revise how to create a table
* Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are: 
*  Python
*  R
*  SQL
*  Scala
*  Java
*  C++
*  Julia.

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Matplotlib
* Seaborn
* Scikit-learn

|Data Science Tools|
|------------------|
| Tableau|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

print(f'{minutes} minutes <=> {round(hours,3)} hours')

200 minutes <=> 3.333 hours

## Author
Ana Gabriela Guedes